@model GastoMatic.Models.UserServiceModel

@{
    ViewBag.Title = "Login";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="login">
          <legend>INGRESAR</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Usuario)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Usuario, new { required = "required" })
            @Html.ValidationMessageFor(model => model.Usuario)
        </div>

        <div class="editor-label">
            @Html.Label("Contraseña")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Contrasena, new { required = "required" })
            @Html.ValidationMessageFor(model => model.Contrasena)
        </div>
        <input type="submit" value="Login" />
        
        <div>

   <div class="registro">
   		@Html.ActionLink("Registrate Aquí", "CreateUser")</div>

   </div>
  </div>
}


