@model GastoMatic.Models.CuentaGastos

@{
    ViewBag.Title = "Delete";
}
<div class="delete">
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

    <legend>CuentaGastos</legend>

    <div class="display-label">IdCuentaGastos</div>
    <div class="display-field">@Model.IdCuentaGastos</div>

    <div class="display-label">FechaCreacion</div>
    <div class="display-field">@String.Format("{0:g}", Model.FechaCreacion)</div>

    <div class="display-label">FechaInicial</div>
    <div class="display-field">@String.Format("{0:g}", Model.FechaInicial)</div>

    <div class="display-label">FechaFinal</div>
    <div class="display-field">@String.Format("{0:g}", Model.FechaFinal)</div>

    <div class="display-label">NumeroAcreedor</div>
    <div class="display-field">@Model.NumeroAcreedor</div>

    <div class="display-label">Descripcion</div>
    <div class="display-field">@Model.Descripcion</div>
    @using (Html.BeginForm()) {
         <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
        </p>
    }
      
</div>



