@model IEnumerable<GastoMatic.Models.CuentaGastos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            IdCuentaGastos
        </th>
        <th>
            FechaCreacion
        </th>
        <th>
            FechaInicial
        </th>
        <th>
            FechaFinal
        </th>
        <th>
            NumeroAcreedor
        </th>
        <th>
            Descripcion
        </th>
    </tr>

@foreach (var item in ViewBag.Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdCuentaGastos }) |
            @Html.ActionLink("Agregar", "Create", new { controller = "CuentaGastosDetalle", id = item.IdCuentaGastos }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdCuentaGastos })
        </td>
        <td>
            @item.IdCuentaGastos
        </td>
        <td>
            @String.Format("{0:g}", item.FechaCreacion)
        </td>
        <td>
            @String.Format("{0:g}", item.FechaInicial)
        </td>
        <td>
            @String.Format("{0:g}", item.FechaFinal)
        </td>
        <td>
            @item.NumeroAcreedor
        </td>
        <td>
            @item.Descripcion
        </td>
    </tr>
}


</table>

@Html.Hidden("campo", (string)ViewBag.json)
